    
    
{% extends "import.html" %} 
{% block content %}

<center>
<h2 ><span style="color: #00BF52;">Plant Disease Diagnosis </span></h2>
    <p class="mb-4">Upload leaf photo to diagnose</p>
    <!--<form id="upload-file" method="post" enctype="multipart/form-data">
         <input type="file" name="file" class="btn btn-success" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>-->

    <form id="upload-file" method="post" enctype="multipart/form-data">
        <div class="file-field">
            <div class="d-flex justify-content-center">
                <div class="btn btn-mdb-color btn-sucess input-group-append">
                    <!--<span>Choose file</span>-->
                    <input type="file" class="btn btn-success" name="file" id="imageUpload" accept=".png, .jpg, .jpeg"></input>
                </div>
            </div>
        </div>
    </form>


    <div class="image-section" style="display:none;">
         <img id="imagePreview"  class="img-responsive" src="#" style="width:300px;height:300px;"/><br><br>
         <div>
            <button type="button" class="btn btn-success btn-lg " id="btn-predict">Predict!</button>
         </div>
    </div>



    <div class="loader" style="display:none;"></div>

    <h3 id="result">
        <span> </span>

    </h3>
    <br>
    
    <a class="btn btn-dark btn-lg" href="diagnosis">Diagnosis</a>
    <a class="btn btn-dark btn-lg" href="labs">Labs</a>


</center><br><br>
{% endblock %}
