<!--<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plant Disease Diagnosis</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/test.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/newjs.js') }}" type="text/javascript"></script>
</head>

<body style="background: rgba(76, 175, 80, 0.3);">-->
{% extends "import.html" %} 
{% block content %}
        
        <div class="container py-5" align="center">
            <!--<img class="img-responsive" src="https://www.plantdoctor.com.au/assets/website_logo.png" alt="hello" width="400" >
             <p class="lead mb-0">Take care of the plants, they will take care of you.</p>
            
             <div class="container" style="padding: 10%;">-->
                <div class="card-deck">
                    <div class="card text-center">
                        <div class="card-block">
                            <h4 class="card-title">Vadodara</h4>
                            <p class="card-text">
                                Get the best service ever
                                <br> Expertise in solutions
                                <br> Guaranteed success and profit
                                <br>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-outline-dark" href="https://www.google.com/search?sxsrf=ALeKk015xf06zScGw_rMe17VE4Pi8-WfEQ%3A1590672767649&ei=f73PXsWkJ-Pbz7sPltqz6AU&q=laboratory+for+plant+diagnosis+vadodara&oq=laboratory+for+plant+diagnosis+vadodara&gs_lcp=CgZwc3ktYWIQAzoECAAQRzoHCCMQsAIQJ1DTL1iYOWCiQGgAcAF4AIABsgGIAdkGkgEDMC42mAEAoAEBqgEHZ3dzLXdpeg&sclient=psy-ab&ved=0ahUKEwiF4JPq1dbpAhXj7XMBHRbtDF0Q4dUDCAw&uact=5">Link</a>
                        </div>
                    </div>
            
                    <div class="card text-center">
                        <div class="card-block">
                            <h4 class="card-title">Ahmedabad</h4>
                            <p class="card-text">
                                Get the best service ever
                                <br> Expertise in solutions
                                <br> Guaranteed success and profit
                                <br> 
                            </p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-outline-dark" href="https://www.google.com/search?sxsrf=ALeKk01EYUOaWFn2i_o4YpR-NXwH3D2Tnw%3A1590672776893&ei=iL3PXs2RNpzG4-EP4fikyAY&q=laboratory+for+plant+diagnosis+ahmedabad&oq=laboratory+for+plant+diagnosis+ahmedabad&gs_lcp=CgZwc3ktYWIQAzIICCEQFhAdEB46BAgAEEc6BAgjECc6BAghEApQ-5gbWPq4G2DJvhtoAHABeACAAa0CiAHuF5IBCDAuMTEuNC4xmAEAoAEBqgEHZ3dzLXdpeg&sclient=psy-ab&ved=0ahUKEwjN9cfu1dbpAhUc4zgGHWE8CWkQ4dUDCAw&uact=5">Link</a>

                        </div>
                    </div>
            
                    <div class="card text-center">
                        <div class="card-block">
                            <h4 class="card-title">Surat</h4>
                            <p class="card-text">
                                Get the best service ever
                                <br> Expertise in solutions
                                <br> Guaranteed success and profit
                                <br> 
                            </p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-outline-dark" href="https://www.google.com/search?sxsrf=ALeKk00owYQCHYJQsvTq_MBS9cFwllAxsA%3A1590673228431&ei=TL_PXvD1GcbVz7sP_si5kAQ&q=laboratory+for+plant+diagnosis+surat&oq=laboratory+for+plant+diagnosis+surat&gs_lcp=CgZwc3ktYWIQAzIICCEQFhAdEB46BAgAEEc6BAgjECdQ4PUKWLGNC2D-kgtoAHABeACAAZ8FiAGEGJIBCzAuOS4yLjEuMS4xmAEAoAEBqgEHZ3dzLXdpeg&sclient=psy-ab&ved=0ahUKEwjwy-_F19bpAhXG6nMBHX5kDkIQ4dUDCAw&uact=5">Link</a>

                        </div>
                    </div>
                </div>
                
                <div class="card-deck mt-4">
                    <div class="card text-center">
                        <div class="card-block">
                            <h4 class="card-title">Rajkot</h4>
                            <p class="card-text">
                                Get the best service ever
                                <br> Expertise in solutions
                                <br> Guaranteed success and profit
                                <br> 
                            </p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-outline-dark" href="https://www.google.com/search?sxsrf=ALeKk03tuLuRIePNDpGHTh-IFa1yKdtSsw%3A1590673412264&ei=BMDPXufYD6LZz7sPzryk2A8&q=laboratory+for+plant+diagnosis+rajkot&oq=laboratory+for+plant+diagnosis+rajkot&gs_lcp=CgZwc3ktYWIQAzIICCEQFhAdEB46BAgAEEc6BAgjECdQ2K4EWJTFBGDNygRoAHABeACAAe0BiAG1DZIBBjAuMTAuMZgBAKABAaoBB2d3cy13aXo&sclient=psy-ab&ved=0ahUKEwjn6sOd2NbpAhWi7HMBHU4eCfsQ4dUDCAw&uact=5">Link</a>

                        </div>
                    </div>
            
                    <div class="card text-center">
                        <div class="card-block">
                            <h4 class="card-title">Anand</h4>
                            <p class="card-text">
                                Get the best service ever
                                <br> Expertise in solutions
                                <br> Guaranteed success and profit
                                <br> 
                            </p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-outline-dark" href="https://www.google.com/search?sxsrf=ALeKk01BIpxIPPr34nJ5EiLliQ3K5rfm1g%3A1590673493551&ei=VcDPXoONIeXmz7sPtLuNsA0&q=laboratory+for+plant+diagnosis+anand&oq=laboratory+for+plant+diagnosis+anand&gs_lcp=CgZwc3ktYWIQAzIICCEQFhAdEB46BAgAEEc6BAgjECdQ2LkEWPnTBGC_2QRoAHABeACAAcEBiAGoDZIBBDAuMTGYAQCgAQGqAQdnd3Mtd2l6&sclient=psy-ab&ved=0ahUKEwjDi6XE2NbpAhVl83MBHbRdA9YQ4dUDCAw&uact=5">Link</a>

                        </div>
                    </div>

                    <div class="card text-center">
                        <div class="card-block">
                            <h4 class="card-title">Nadiad</h4>
                            <p class="card-text">
                                Get the best service ever
                                <br> Expertise in solutions
                                <br> Guaranteed success and profit
                                <br> 
                            </p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-outline-dark" href="https://www.google.com/search?sxsrf=ALeKk00yst1soz1Xfb4fGMTCdfkNPnMPbA%3A1590673572136&ei=pMDPXtmCCOPXz7sPs9a6sAw&q=laboratory+for+plant+diagnosis+nadiad&oq=laboratory+for+plant+diagnosis+nadiad&gs_lcp=CgZwc3ktYWIQAzoECAAQRzoECCMQJzoICCEQFhAdEB5Q1I0IWL2hCGC2rwhoAHABeACAAcMCiAH8C5IBBzAuNS4yLjGYAQCgAQGqAQdnd3Mtd2l6&sclient=psy-ab&ved=0ahUKEwjZ5OHp2NbpAhXj63MBHTOrDsYQ4dUDCAw&uact=5">Link</a>

                        </div>
                    </div>
                </div>
            </div> 
            <div align="center"><a class="btn btn-dark btn-lg" href="/">Back</a></div>

        </div>
{% endblock %}